*,*::after,*::before { box-sizing: border-box; }
:root {
    --main-bg: rgb(207, 207, 207);
    --nav-bg: whitesmoke;
    --logo-bg: white;
}

h1,h2,h3,h4,h5,h6 { margin: 0; }

body {
    display: flex; 
    flex-direction: column;
    gap: 1em;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    background-color: rgb(37, 41, 81);
    color: white
}

.grid { display: grid; } 
.flex { display: flex; } 
.spaced { justify-content: space-between; } 
.centered { align-items: center; }

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.gap-1 {
    gap: 1em;
}
.flex-grow{
    flex-grow: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col textarea { flex-grow: 1; }