.calendar {
    border: 1px solid red;
}

.calendar-container:not(:focus-within) .drop-down-calendar,
.hiden {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all ease-out 500ms;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.gap-1 {
    gap: 0.25rem;
}

.drop-down-calendar {
    background-color: cornsilk;
    border: 2px solid orange;
    z-index: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grid-7 {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(7,auto);
    gap: 0.2rem;
}

.grid-3 {
    padding: 1em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.2rem;
}

.grid-7 span:not(.weekday):hover {
    background-color: cadetblue;
    color:red;
    font-weight: bold;
    transition: all ease-in 300ms;
}

.selected {
    background-color: sandybrown;
    color:white;
    font-weight: bold;
}

.grid-7 span[data-date]:not(.selected){
    background-color: #ffe;
}

.grid-7 span {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid gray;
    min-width: 33px;
    aspect-ratio: 1/1;
    font-size: smaller;
    cursor: pointer;
    border-radius: 0.2rem;
}

.month-head {
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 33px;
    font-size: 1.8rem;
}

.weekday {
    background-color: #b0adad;
}